@tailwind base;

/* Reset CSS, базові стилі */
@layer base {
  * {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    &:focus {
      outline: none !important;
    }
  }

  html,
  body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: auto;
    background: #fff;
    padding: 0;
    margin: 0;
    color: #222;
  }

  html {
    font-size: 14px;
  }

  body {
    font-size: 0.875rem;
    font-feature-settings: "salt";
  }

  hr {
    margin: 32px 0;
    border-bottom-width: 1px;
  }

  img {
    width: 100%;
    vertical-align: top;
  }

  input[disabled] {
    opacity: 1;
    -webkit-text-fill-color: currentColor;
  }

  button {
    font-size: 0.875rem !important;
  }

  @media only screen and (min-width: 960px) {
    body:not(.os-mac) {
      ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0);
      }
      ::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.06);
      }
      ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        border-radius: 20px;
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
      }
      ::-webkit-scrollbar-thumb:active {
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
      }
      &.dark {
        ::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.24);
        }
        ::-webkit-scrollbar-thumb:active {
          box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.37);
        }
      }
    }
  }

  [disabled] * {
    @apply text-disabled;
  }

  @media print {
    html {
      font-size: 12px !important;
    }
    body,
    .dark,
    .light {
      background: none !important;
    }
  }
}

@tailwind components;
@tailwind utilities;
