@layer base {
  :root[class~="dark"] {
    --surface-ground: 24 24 27; /* zinc 900 */
    --hover-surface-ground: 39 39 42; /* zinc 800 */
    --card-ground: 39, 39, 42; /* zinc 800 */
    --even-card-ground: 32 32 35; /* zinc 850 */
    --modal-card-ground: 39, 39, 42; /* zinc 800 */
    --hover-card-ground: 63 63 70; /* zinc 700 */
    --focus-card-ground: 24 24 27; /* zinc 900 */
    --footer-ground: 39, 39, 42; /* zinc 800 */
    --header-ground: 24 24 27; /* zinc 900 */
    --hover-header-ground: 63 63 70; /* zinc 700 */
    --surface-border: 63 63 70; /* zinc 700 */
    --sidebar-shadow: none;
    --text-color: 255 255 255;
    --sub-header-color: 161 161 170; /* zinc 400 */
    --sub-header-active: 126 87 194; /* purple 400 */
    --pet-template: 63 63 70; /* zinc 700 */
    /* Primary color*/
    --primary: 126 87 194; /* purple 400 */
    --primary-hover: 149 117 205; /* purple 300 */
    /* Secondary color*/
    --secondary: 113 113 122; /* zinc 500 */
    --secondary-50: 250 250 250; /* zinc 50 */
    --secondary-100: 244 244 245; /* zinc 100 */
    --secondary-200: 228 228 231; /* zinc 200 */
    --secondary-300: 212 212 216; /* zinc 300 */
    --secondary-400: 161 161 170; /* zinc 400 */
    --secondary-500: 113 113 122; /* zinc 500 */
    --secondary-600: 82 82 91; /* zinc 600 */
    --secondary-700: 63 63 70; /* zinc 700 */
    --secondary-800: 39 39 42; /* zinc 800 */
    --secondary-850: 32 32 35; /* zinc 850 */
    --secondary-900: 24 24 27; /* zinc 900 */
    --secondary-950: 9 9 11; /* zinc 950 */
  }
}
